# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*~
*.so

.Python
env/
build/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg

*.egg
*.mo
*.pot
*.log

docs/_build/
target/

.idea/
